[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.128.8",
    "geoalchemy2>=0.18.1",
    "psycopg2>=2.9.11",
    "shapely>=2.1.2",
    "sqlalchemy>=2.0.46",
]
